Django              5.1.7
django-filter       25.1
djangorestframework 3.15.2
fastapi             0.115.11
greenlet            3.1.1
h11                 0.14.0
idna                3.10
Markdown            3.7
pillow              11.1.0
pip                 25.0.1
psycopg2-binary     2.9.10
pydantic            2.10.6
pydantic_core       2.27.2
python-dotenv       1.0.1

